.footer.my-5.container
  .row
    .col-12.col-md
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      div Digimarket
      small.d-block.mb-3.text-muted © 2020
    .col-6.col-md
      h5 About
      ul.list-unstyled.text-small
        li
          a.text-muted Cool stuff
        li
          a.text-muted Random feature
        li
          a.text-muted Team feature
        li
          a.text-muted Stuff for developers
        li
          a.text-muted Another one
        li
          a.text-muted Last time
    .col-6.col-md
      h5 Contact
      ul.list-unstyled.text-small
        li
          a.text-muted 0800 608 6236
        li
          a.text-muted help@digimarket.com
        li
          a.text-muted Business hours
    .col-6.col-md
      h5 Github
      ul.list-unstyled.text-small
        li.nav-item
          iframe(src="//ghbtns.com/github-btn.html?user=jhonatantft&repo=affiliate-marketing-program&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120", height="45", style="padding: 15px 0 0 15px;")
        li.nav-item
          iframe(src="//ghbtns.com/github-btn.html?user=jhonatantft&repo=affiliate-marketing-program&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120", height="45", style="padding: 15px 0 0 15px;")
        li.nav-item
          a.nav-link(href='https://travis-ci.org/github/jhonatantft/affiliate-marketing-program')
            img(src='https://img.shields.io/travis/jhonatantft/affiliate-marketing-program/master.svg?style=flat', alt='Build Status', data-canonical-src='https://img.shields.io/travis/jhonatantft/affiliate-marketing-program.svg?style=flat', style='max-width:100%;')

