nav.site-header.sticky-top.py-1.navbar.navbar-expand-md.navbar-dark
  .container
    a.py-2.navbar-brand(href='/') Digimarket
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.py-2(class=isActive('/articles/new') ? 'active nav-item' : 'nav-item')
          a.nav-link(href="/articles", title="new article") Produtos
        - if (req.isAuthenticated())
          li.nav-item.py-2
            a.nav-link(href="/articles/new", title="new article") Cadastrar produto
          li.nav-item.py-2(class=isActive(`/users/${req.user.id}`) && 'active')
            a.nav-link(href="/users/" + req.user.id, title="Profile") Profile
          li.nav-item.py-2
            a.nav-link(href="/logout", title="logout") Logout
        - else
          li.py-2(class=isActive('/login') ? 'active nav-item' : 'nav-item')
            a.nav-link(href="/login", title="Login") Login
