extends auth

block auth
  form.form-signin(action="/users/session", method="post", role="form")
    input(type="hidden", name="_csrf", value=csrf_token)

    p.col-sm-offset-2.error= message

    .form-label-group
      input#email.form-control(type='email' name='email' placeholder='Email address' required='' autofocus='')
      label(for='email') Email
    .form-label-group
      input#password.form-control(type='password' name='password' placeholder='Password' required='')
      label(for='password') Senha
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Fazer login
    .my-3.text-center
      | ou 
      a.show-signup(href="/signup") Criar conta
